html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: var(--body-size);
  font-weight: 300;
  background-color: var(--bg1);
  color: var(--text1);
}

body {
  width: 100%;
}

#__next {
  /* This seems like a huge hack. */
  width: 100%;
}
