/* Dimensions */

:root {
  --body-size: 15px;
  --grid-gap: 10px;
  --content-width: 768px;
  --content-padding: 15px;
}

@media (min-width: 375px) {
  :root {
    --body-size: 17px;
    --grid-gap: 12px;
    --content-padding: 20px;
  }
}

@media (min-width: 576px) {
  :root {
    --body-size: 18px;
    --grid-gap: 16px;
    --content-padding: 30px;
  }
}

@media (min-width: 768px) {
  :root {
    --body-size: 19px;
    --grid-gap: 20px;
    --content-padding: 40px;
  }
}

@media (min-width: 1024px) {
  :root {
    --body-size: 20px;
    --grid-gap: 25px;
    --content-padding: 50px;
  }
}

/* Colors */

:root {
  --bg0: #ffffff;
  --bg1: #f8f7f7;
  --bg2: #2e1216;
  --text1: #532129;
  --text2: #9f5861;
  --text3: #d8c3c3;
  --text1light: #532129;
  --text2light: #9f5861;
  --text3light: #d8c3c3;
  --green: #00ae68;
  --twitter-blue: #1b95e0;
  --red: #ce3717;
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
  :root {
    --bg0: #221416;
    --bg1: #2c1c1e;
    --bg2: #221416;
    --text1: #ede3e3;
    --text2: #d9b0b4;
    --text3: #63383e;
    --green: #00c577;
    --twitter-blue: #1fa6f9;
    --red: #dd380e;
  }
}
